<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="formContainer">
        <h1 class="heading">Update New Password</h1>
        <form name="passwordForm" >
            <div class="inpcontainer">
                <label for="password">New Password</label>
                <input type="password" name="password" required />
            </div>
            <div class="inpcontainer">
                <label for="Confirm-password">Confirm Password</label>
                <input type="password" name="Confirm-password" required />
            </div>
            <input type="hidden" value="<%=userId%>" name="userId"/>
            <button id="ResetPw" class="ResetPw">Update</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/form.js"></script>
</body>

</html>