* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem 6rem 35.7rem 44.7rem;
}

.upperdiv {
    /* border: 2px solid red; */
}

.middlediv {
    /* border: 2px solid blue; */
}

.lowerdiv {
    overflow: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.header button {
    background-color: rgb(255, 242, 170);
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
    transition: linear 0.3s;
}

.header button:hover {
    background-color: rgb(255, 219, 12);
    box-shadow: 0px 0px 7px 2px rgb(63, 63, 63);
}

.Expenesform {
    background-color: rgb(109, 178, 218);
    color: aliceblue;
    height: 100%;
    width: 100%;
}

.Expenesform form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inpcontainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1rem;
    width: 25%;
}

.inpcontainer input {
    border: 1px solid rgb(111, 111, 111);
    border-radius: 4px;
    padding: 5px;
}

.inpcontainer input:focus {
    box-shadow: 0px 0px 5px 1px rgb(51, 51, 51);
    outline: none;
}

.signupBtn,
.LeadBdHead button {
    color: aliceblue;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem 0px;
    transition: linear 0.3s;
    background-color: rgb(43, 151, 120);
    border: none;
    border-radius: 4px;
}

.signupBtn:hover,
.LeadBdHead button:hover {
    background-color: rgb(0, 203, 145);
    box-shadow: 0px 0px 2px 1px rgb(124, 124, 124);
}

.tableContainer,
.LeadeBrdContainer {
    border: 2px solid rgb(155, 155, 155);
    overflow-y: auto;
    width: 40%;
    height: 93%;
    overflow: auto;
}

.LeadBdHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
}

.LeadeBrdContainer,
.tableContainer {
    box-shadow: 0px 0px 5px 2px rgb(132, 131, 131);
    border-radius: 8px;
    position: relative;
}

.LeadBdTable {
    margin: 00px 15px;
}

.tableContainer table,
.LeadBdTable table {
    width: 100%;
}

.tableContainer table thead {
    background-color: rgb(109, 178, 218);
    color: aliceblue;
    position: sticky;
    top: 0px;
}

.tableContainer table,
th,
td,
.LeadBdTable table {
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}

.ExpReport {
    padding: 10px 40px;
}

.RportContainer {
    height: 92.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.MonthlyBasis,
.YearlyBasis {
    margin-top: 1rem;
    border: 2px solid green;
    height: 100%;
    width: 33%;
    text-align: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btns button {
    padding: 4px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: linear 0.2s;
}

.btns .delbtn {
    background-color: rgb(255, 141, 141);
    color: aliceblue;
}

.btns .Editbtn {
    background-color: rgb(100, 165, 138);
    color: aliceblue;
}

.btns .Editbtn:hover {
    background-color: rgb(0, 147, 86);
    box-shadow: 5px 5px 5px 1px rgb(159, 159, 159);
}

.btns .delbtn:hover {
    background-color: rgb(255, 65, 65);
    box-shadow: 5px 5px 5px 1px rgb(159, 159, 159);
}

.Loading {
    font-size: larger;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pagination{
    /* border: 2px solid; */
    width: 25%;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Pagination button{
    width: 30px;
    border-radius: 4px;
    border: 2px solid rgb(109, 178, 218);
    background-color: rgb(210, 233, 242);
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;

}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgb(180, 197, 234);
}

@media only screen and (max-width: 768px) {
    body {
        height: 100vh;
    }

    .main {
        grid-template-rows: 2.5rem 16rem auto;
    }

    .tableContainer {
        width: 100%;
        font-size: 1px;
        height: 100%;
    }

    .LeadeBrdContainer {
        width: 100%;
        font-size: small;
        height: 100%;
    }

    .Expenesform form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .inpcontainer {
        width: 80%;
        margin: 5px;
    }

    .header {
        font-size: x-small;
    }
}


@media only screen and (min-width: 992px) {
    .tableContainer,.LeadeBrdContainer {
        width: 40%;
    }
}

/* @media only screen and (min-width: 1200px) {
    .tableContainer.LeadeBrdContainer {
        width: 40%;
    }
} */